{% extends "base.html" %}

{% block titulo %} Productos {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo producto</a>

    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>

        <div class="table-responsive">
            <table class="table table-secundary table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion </th>
                        <th scope="col">Stock</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr class="">
                        <td scope="row">{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>{{ producto.get_estado_display }}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar' producto.id %}" role="button">Editar</a> |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' producto.id %}" role="button"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Borrar</a>
                           </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
    <div class="card-footer text-muted"></div>
</div>


{% endblock %}